.vanDetailContainer {
  padding: 27px;
}

.vanDetailContainer a {
  color: black;
  padding: 0;
}

.vanDetailContainer .back-button:visited {
  
}

.vanDetailContainer .back-button span {
  text-decoration: underline;
}

.vanDetail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.vanDetail img {
  border-radius: 5px;
  margin-block: 47px;
  width: 100%;
}

.vanDetail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.vanDetail > i {
  align-self: flex-start;
}

.vanDetail .vanPrice {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.vanDetail .vanPrice span {
  font-weight: 700;
  font-size: 1.5rem;
}

.vanDetail .linkButton {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.15s;
}

.vanDetail .linkButton:hover {
  background-color: #fb8d52;
  transform: translate(1px, 1px);
}