* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 660px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

main {
  margin-bottom: 56px;
}

a {
  text-decoration: none;
}
a:hover {
  color: #161616;
  text-decoration: underline;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*** VAN PAGES ***/
.van-list-container {
  padding-inline: 23px
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-card a {
  color: #161616;
  text-decoration: none;
}

.van-card img {
  max-width: 100%;
  border-radius: 5px;
}

.van-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}


/* VAN DETAIL PAGE */

.host-van-detail-page {
  padding-top: 40px;
}

.host-van-detail-layout-container {
  background-color: white;
  padding: 16px 24px;
  margin: 30px 26px;
  border-radius: 8px;
}

.host-van-detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
  margin-bottom: 24px;
}

.host-van-detail img {
  max-width: 100%;
  border-radius: 5px;
}

.host-van-detail-info-text {
  padding-top: 16px;
}

.van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-price span {
  font-weight: 600;
  font-size: 1.3rem;
}

.host-van-detail-tabs {
  display: flex;
}

.host-van-detail-tabs a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px 5px 0;
}

.host-van-detail-tabs a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.van-detail-container {
  padding: 27px;
}

.back-button {
  padding: 24px;
  color: black;
  text-decoration: none;
}

.back-button span {
  text-decoration: underline;
}