* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

main {
  margin-bottom: 56px;
}

a {
  text-decoration: none;
}
a:hover {
  color: #161616;
  text-decoration: underline;
}

.status-notifier {
  margin-top: 64px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*** VAN PAGES ***/
.van-list-container {
  padding-inline: 23px
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 40px;
}

.van-card a {
  color: #161616;
  text-decoration: none;
}

.van-card img {
  max-width: 100%;
  border-radius: 5px;
}

.van-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.van-list-container button {
  margin-right: 12px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 18px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 18px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}

.back-button {
  padding: 24px;
  color: black;
  text-decoration: none;
}

.back-button span {
  text-decoration: underline;
}